lairart
lair-msi
lair-deb
lair-web
valair
sdl2-vapi
tartrazine
tox-vapi
.repo
*/
*/.repo
*/.git
*.buildinfo
*.changes
*.deb
*.deb.md
*.dsc
*.tar.xz
*.tar.gz
*.debian.tar.xz
*.debian.tar.gz
*.orig.tar.gz
*.orig.tar.zz
